body, html {
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.header-inner {
	width:100%;
	border-bottom:1px solid #7d97ad;
	overflow: auto;
	background-color:#7d97ad;
}

#author-picture {
	float:left;
	border:1px solid #2d3c49;
}

.header-text {
	color: #fff;
	text-align: right;
	padding-right:5px;
}

main {
	width:100%;
}

#bridge-image {
	width:100%;
}

.featured-container {
	display:flex;
	flex-wrap:wrap;
}

#project1 {
	background-image: url(images/pixel-art-maker.png);
	background-size: cover;
	border:2px solid #2d3c49;
	position:relative;
}

#project2 {
	background-image: url(images/animal-card.png);
	background-size: cover;
	border:2px solid #2d3c49;
	position:relative;
}

#project3 {
	background-color: #02b3e4;
	border:2px solid #2d3c49;
    position:relative;
    color: white;
}

.featured-box {
	width: 100%;
}
.box {
	width:33%;
}
.featured-box a {
	color: white;
}

.featured-box {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 0;
	left: 0;
	background: #2d3c49;
	opacity: 0.9;
}

footer {
	width:100%;
	border-top: 1px solid #A0A0A0FF;
	height: auto;
	display: flex;
}

.footer-text {
	margin-top: 10px;
	width:100%;
}

.footer-social {
	padding-top: 5px;
	padding-bottom: 5px;
	height:32px;
	width:32px;
}

/*
Responsive styles
*/

@media screen and (min-width:1025px) {
	body {
		width:1000px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.header-text {
		font-size: 24px;
		padding-right: 10px;
	}

	.featured-container {
		display:flex;
		flex-wrap: nowrap;
		height: 200px;
    	margin-bottom: 10px;
	}

	#project2 {
		margin-right:10px;
		margin-left:10px;
	}
}

@media screen and (min-width:601px) and (max-width:1024px) {
	.header-text {
		font-size: 24px;
		padding-right: 10px;
	}

	.featured-container {
		display:flex;
		flex-wrap: nowrap;
		height: 200px;
    	margin-bottom: 10px;
	}

	#project2 {
		margin-right:10px;
		margin-left:10px;
	}

	.footer-text {
		width:100%;
	}

	.footer-social {
		height:32px;
		width:32px;
	}
}

@media screen and (max-width:600px) {
	
	body {
		margin:8px;
	}

	a {
		text-decoration: none;
	}

	#author-picture {
		height:80px;
	} 

	.featured-container {
		height:600px;
	}

	.box {
		width:100%;
		height:32%;
	}

	.featured-box {
		width: 100%;
	    height: 30%;
	}
}